.wrapper {
  width: 100%;
  min-height: 5.4rem;
  margin: -2.7rem auto 0;
}

.formWrapper {
  width: 100%;
  display: grid;
  grid-template-columns: 80% 20%;
  gap: 0.8rem;
}

@media (max-width: var(--breakpoint-mobile)) {
  .formWrapper {
    grid-template-columns: 1fr 1fr;
  }
}

.formWrapper input {
  border-radius: var(--border-radius);
  padding: var(--font-size-big);
  background: var(--gray-500);
  border: 1px solid var(--gray-700);
}

.formWrapper input:focus {
  outline: none;
  border: 1px solid var(--purple-dark);
}

.formWrapper input::placeholder {
  font-weight: 400;
  font-size: var(--font-size-big);
  color: var(--gray-300);
  line-height: 140%;
}

.formWrapper button {
  background: var(--blue-dark);

  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 1.6rem;
  gap: 0.8rem;

  border: none;
  border-radius: var(--border-radius);
}

.formWrapper button:hover,
.formWrapper button:focus {
  background: var(--blue);
  cursor: pointer;
}

.formWrapper button span {
  font-style: normal;
  font-weight: 700;
  line-height: 140%;
}

.formWrapper button svg {
  /* font-size: var(--font-size-big); */
  width: var(--font-size-big);
  height: var(--font-size-big);
}
